<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length > 0) { %>
            <ul class="cart__item-list">
                <% orders.forEach(order => { %> 
                    <li class="cart__item">
                        <h1>Order - #<%= order._id %> </h1>
                        <ul class="cart__item-list">
                            <% order.products.forEach(product => { %> 
                                <li class="cart__item">
                                    <%= product.productData.txt_title %> (<%= product.quantity %>)
                                </li>
                            <% }) %>
                        </ul>
                       
                    </li>
                <% }) %>
            </ul>


        <% } else { %>
            <h1>No Orders!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>