<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.txt_title %></h1>
            <hr>
            <div>
                <img src="<%= product.blb_image %>" alt="<%= product.txt_title %>">
            </div>
            <h2><%= product.dbl_price %></h2>
            <p><%= product.txt_description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>